#user-container h1{
    margin-top: 10px;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-list{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    list-style: none;
}

.user-list li{
    background: white;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.user-list li p{
    font-size: 16px;
    color: lightslategray;
    margin-top: 5px;
    line-height: 24px;
}